* {
    box-sizing: border-box; /*evita desbordamientos*/
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body::before{
    content: "";
    position: fixed; /*Mantiene el findo haciendo scrooll*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /*Detras del texto*/
    background-image: url('img/codeGeass.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

img, video, iframe, audio {
    max-width: 100%;
    height: auto;
}

.encabezado{
    text-align: center;
    font-family: fantasy;
    font-size: clamp(28px, 6vw, 50px); /*se adapta al dispositivo*/
    color: #FAE8FC;
    padding: 10px;
    margin: 0;
}

nav ul{
    list-style: none;
    margin: 30px auto;
    padding: 0 auto;
    width: 90%;
    max-width: 900px;
    display: flex; /* Coloca lado a lado*/
    flex-wrap: wrap; /*baja el menu en celulares*/
    justify-content: center;
    background-color: rgba(15, 15, 15, 0.55);
    border-radius: 8px;
    overflow: hidden; /*corta el contenido*/
    position: relative;
}

nav a{
    display: block;
    padding: 12px 16px; /*Botones grande*/
    margin: 5px; /*separacion de botones*/
    color: #FAE8FC;
    text-decoration: none; /*quitamos subrayado*/
}

nav a:hover{
    background-color: #000;

}

.carrusel{
    position: relative;
    width: 90%;
    max-width: 900px;
    height: 50vh;
    max-height: 600px;
    min-height: 220px;
    overflow: hidden; /*recorta una imagen*/
    margin:0 auto;
}

.carrusel .imagenesCarrusel{
    width: 100%;
    height: 100%;
}

.carrusel .deslizar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    /*animation: crossfade 14s infinite;*/
    transition: opacity 0.8s ease-in-out; 
}

/*
.carrusel .deslizar:nth-child(1){
    animation-delay: 0s;
}

.carrusel .deslizar:nth-child(2){
    animation-delay: 4s;
}

.carrusel .deslizar:nth-child(3){
    animation-delay: 8s;
}

.carrusel .deslizar:nth-child(4){
    animation-delay: 12s;
}

.carrusel .deslizar:nth-child(5){
    animation-delay: 16s;
}

.carrusel .deslizar:nth-child(6){
    animation-delay: 20s;
}*/

#img1:checked ~ .imagenesCarrusel .deslizar:nth-child(1),
#img2:checked ~ .imagenesCarrusel .deslizar:nth-child(2),
#img3:checked ~ .imagenesCarrusel .deslizar:nth-child(3),
#img4:checked ~ .imagenesCarrusel .deslizar:nth-child(4),
#img5:checked ~ .imagenesCarrusel .deslizar:nth-child(5),
#img6:checked ~ .imagenesCarrusel .deslizar:nth-child(6) {
    opacity: 1;
    z-index: 1;
}

/*ANimacion del carrusel
@keyframes crossfade {
    0% {opacity: 0;}
    10% {opacity: 1;}
    33% {opacity: 1;}
    43% {opacity: 1;}
    100% {opacity: 1;}
}*/

.carrusel .con {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: none;
    justify-content: space-between;
    padding: 0 15px;
    box-sizing:  border-box;
    z-index: 10;
}

#img1:checked ~ .c1,
#img2:checked ~ .c2,
#img3:checked ~ .c3,
#img4:checked ~ .c4,
#img5:checked ~ .c5,
#img6:checked ~ .c6 {
    display: flex;
}

.anterior, .siguiente {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FAE8FC;
    padding: 10px 14px;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
}

.anterior:hover, .siguiente:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.contenedor1{
    display: flex;
    /*flex-direction: column;*/
    gap: 10px; /*Separacion entre uno y otrp*/
    margin:20px 40px;
    align-items:  flex-start;
    width: 90%;
    max-width: 2000px;
}

.principal {
    background-color: rgba(15, 15, 15, 0.90);
    color: #FAE8FC;
    flex: 2;
    margin: 20px 40px;
    width: 50%;
}

.secundario {
    background-color: rgba(15, 15, 15, 0.90);
    color: #FAE8FC;
    flex: 1;
    margin:20px 40px;
    width: 50%;
}

@media (min-width: 768px) {
    .contenedor1 {
        flex-direction: row;
        align-items: flex-start;
    }

    .principal {
        flex: 2;
        width: auto;
    }

    .secundario {
        flex: 1;
        width: auto;
    }
}

.contenedor2{
    margin: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.articulo h1, .articulo h2{
    text-align: center;
}

.contenedor2 p {
    text-align: justify;
}

.contenedor2 h1, .contenedor2 h2, .contenedor2 h3{
    text-align: center;
}

.recom1, .recom3, .recom5{
    background-color: rgba(15, 15, 15, 0.90);
    color: #FAE8FC;
    border-radius: 8px;
    padding: 20px;
    width: 70%;
    box-sizing: border-box; /*havce que no aumente*/
    align-self: flex-start;
    display: flex; /*coloca la imagen y eltexto al lado*/
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.recom2, .recom4{
    background-color: rgba(15, 15, 15, 0.90);
    color: #FAE8FC;
    border-radius: 8px;
    padding: 20px;
    width: 70%;
    box-sizing: border-box;
    align-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 20px;
}


.recom1 img, .recom2 img, .recom3 img, .recom4 img, .recom5 img {
    width: 500px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    flex-shrink: 0; /*evita que se haga más pequeña la imagen*/
    margin: auto;
}

.textoRecom {
    width: 100%;
}

.audio{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /*para telefonos*/
}

.opening{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ending{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor3 {
    display: flex;
    gap: 10px; /*Separacion entre uno y otrp*/
    margin:20px 40px;
    align-items:  flex-start;
}

.contenedor3 h1, .contenedor3 p {
    text-align: center;
}


.formulario {
    background-color: rgba(15, 15, 15, 0.90);
    color: #FAE8FC;
    flex: 2;
    max-width: 700px;
    width: 100%;
    margin:20px 40px;
    padding: 30px;
    border-radius: 8px;
    /*align-self: center;*/
    box-sizing: border-box; /*evita que rompa el ancho*/
}

.mapa {
    background-color: rgba(15, 15, 15, 0.90);
    color: #FAE8FC;
    flex: 1;
    margin:20px 40px;
    width: 100%;
}

.agrupar {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.agrupar label {
    margin-bottom: 10px;
}

.agrupar input[type="text"], .agrupar textarea {
    border: 2px solid #8807A6;
    border-radius: 8px;
    outline: #7379E6;    
}

.agrupar textarea {
    height: 120px;
    resize: vertical;
}

.formulario input[type="submit"] {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
    background: #3d0747;
    color: #FAE8FC;
}

.formulario input[type="submit"]:hover {
    background-color: #E3D0F5;
    color:#000;
    transform: translateY(-2px);
}

.conTabla {
    width: 100%;
    overflow-x: auto;
}

.conVideo, .mapa {
    position:relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 20px 0;
}

.conVideo iframe, .mapa iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pie {
    background-color: rgba(15, 15, 15, 0.90);
    color: #FAE8FC;
    margin: 20px;
    padding: 20px;
    text-align: center;
}